# Build / Deploy
bin/
obj/
/packages/
deploy/
output/
packages/

# IDE
riderModule.iml
/_ReSharper.Caches/
.idea/
.ionide/
.vs/

# Tools
.fable/
.fake/
.farmer/

# Node
*.fs.js
*.fs.js.map
node_modules/

# Scrips
release.cmd
release.sh

# Config
appsettings.json
appsettings.*.json

# Misc
*.orig
*.DotSettings.user

# Copied images
Client/public/img/